<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" dir="ltr">

<head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="google" value="notranslate">
    <title>Welp</title>

    <link rel="stylesheet" href="/stylesheets/style.css">

    <%- tr8n_scripts() %>
</head>

<body>
